@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Var */
:root {
    --important-color : #4E80EE;
    --heading-title-color : #030616;
    --second-background-color : #D2D5DA;
    --main-background-color : #FFFFFF;
    --another-background-color : #F8FAFC;
}
/* End Var */
.section-main {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-main {
    font-size: 2.25rem;
    font-weight: 600;

}

.paragraph-main {
    font-size: 1rem;
    font-weight: 400;
}

.section-about {
    background-color: var(--another-background-color);
    width: 100%;
    height: 100vh;
    padding: 75px;
}

.section-about .container .how-trick ul li {
    list-style-type: auto;
}

.disc-about {
    display: flex;
    justify-content: flex-start;
}

.special-span {
    color: var(--important-color);
}

.line-break {
    width: 80%;
    border: 1px solid #D2D5DA;
    margin: 20px auto;
}

.why-policy ul li {
}

.why-policy .whypolicy span {
    font-weight: 600;
}